<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <title>Кошик</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/static/styles/cart.css">
</head>

<body>
    <div class="cart-container">
        <h1 class="cart-title">✨ <span>Ваш кошик</span> ✨</h1>
        <div id="cart-items"></div>
        <div id="total-price-wrapper" style="display: none;">
            <p><strong>Загальна сума: </strong><span id="total-price">0 грн.</span></p>
        </div>
        <button id="clear-cart" title="Очистити кошик">
            <i class="fas fa-trash"></i>
        </button>
        <div id="checkout-wrapper" style="text-align: center; margin-top: 20px; display: none;">
            <button id="checkout-btn" class="checkout-button">Оформити замовлення</button>
        </div>
    </div>

    <a href="/index" class="side-gradient-button" title="Повернутися на головну">
        ⬅ Головна
    </a>

    <script src="/static/scripts/cart.js"></script>
</body>

</html>