<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <title>Already registered with this email</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/static/styles/email_already_registered.css">
</head>

<body>
    <div class="error-container">
        <h1 class="error-title"><span>Ця електронна адреса вже зареєстрована. </span></h1>
        <p class="error-message">Ваш аккаунт вже існує</p>
        <a href="/registration" class="error-link">Повернутися на сторінку входу</a>
    </div>

</body>

</html>