<!DOCTYPE html>
<html lang="uk">

<head>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imperial Grace</title>
    <link rel="stylesheet" href="/static/styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

</head>

<body>
    <!-- Верхнє меню -->
    <section class="top-menu-section">
        <div class="menu-wrapper">
            <div class="menu-bar">
                <div class="menu-left">
                    <a href="/catalog"><span class="menu-icon">☰</span> Каталог товарів</a>
                    <div class="divider"></div>
                    <a href="#about">Про нас</a>
                </div>

                <div class="menu-logo">
                    <span>
                        <img src="/static/images/diamond1.png" alt="Diamond" />
                    </span> Imperial Grace <span>
                        <img src="/static/images/diamond1.png" alt="Diamond" />
                    </span>
                </div>

                <div class="menu-right">
                    <div class="search-wrapper">
                            <span title="Пошук" class="icon search-trigger"><i class="fas fa-search"></i></span>
                            <div class="search-box">
                                <input type="text" id="search-input" placeholder="Пошук товару." />
                                <ul id="search-results"></ul>
                            </div>
                        </div>

                        <span title="Уподобані" class="icon"><i class="far fa-heart"></i></span>
                        <div class="cart-wrapper">
                            <div class="cart-icon-wrapper">
                                <a title="Кошик" href="/cart" id="go-to-cart" class="icon"><i class="fas fa-bag-shopping"></i>
                                    <span id="cart-count" class="cart-count">0</span>
                                </a>
                            </div>
                            <div id="empty-message" class="empty-message">Кошик порожній</div>
                        </div>
                        <div class="user-info" style="color: rgb(15, 15, 15); font-size: 1.5rem;">
                            {% if user %}
                                {% if user.role == 'admin' %}
                                <a title="Адміністрування" href="/admin" class="icon"><i class="fas fa-cog"></i></a>
                                {% endif %}
                                <a title="Замовлення" href="/my-orders" class="icon"><i class="fas fa-box-open"></i></a>
                                <a title="Вихід" href="/logout" class="icon"><i class="fas fa-sign-out-alt"></i></a>
                            {% else %}
                                <a title="Вхід" href="/registration" id="go-profile" class="icon"><i class="far fa-user"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="promo-nav">
            <div class="decor">༺❀༻</div>
            <a href="#" class="promo-btn">Акції</a>
            <div class="decor">༺❀༻</div>
            <a href="#" class="promo-btn">Знижки</a>
            <div class="decor">༺❀༻</div>
            <a href="#new-products" class="promo-btn">Новинки</a>
            <div class="decor">༺❀༻</div>
        </div>
    </section>

    <!-- Головний банер -->
    <section class="main-banner-section">
        <div class="main-banner">
            <div class="banner-text">
                <h1>Imperial Grace</h1>
                <p>Jewelry art is timeless</p>
            </div>
        </div>
    </section>

    <!-- Категорії -->
    <section class="category-wrapper">
        <div class="side-icons">
            <img src="/static/images/diamond3.png" alt="Diamond Icon" />
            <img src="/static/images/diamond3.png" alt="Diamond Icon" />
            <img src="/static/images/diamond3.png" alt="Diamond Icon" />
        </div>

        <section class="category-section">
            <a href="/catalog?category=rings">
                <div class="category">
                    <img src="/static/images/image1.png" alt="Rings Icon" />
                    <p>rings</p>
                </div>
            </a>
            <a href="/catalog?category=earrings">
                <div class="category">
                    <img src="/static/images/image2.png" alt="Earrings Icon" />
                    <p>earrings</p>
                </div>
            </a>
            <a href="/catalog?category=bracelets">
                <div class="category">
                    <img src="/static/images/image3.png" alt="Bracelets Icon" />
                    <p>bracelets</p>
                </div>
            </a>
            <a href="/catalog?category=pendants">
                <div class="category">
                    <img src="/static/images/image4.png" alt="Pendants Icon" />
                    <p>pendants</p>
                </div>
            </a>
            <a href="/catalog?category=crosses">
                <div class="category">
                    <img src="/static/images/image5.png" alt="Crosses Icon" />
                    <p>crosses</p>
                </div>
            </a>
            <a href="/catalog?category=chainlet">
                <div class="category">
                    <img src="/static/images/image6.png" alt="Chainlet Icon" />
                    <p>chainlet</p>
                </div>
            </a>
        </section>

        <div class="side-icons">
            <img src="/static/images/diamond3.png" alt="Diamond Icon" />
            <img src="/static/images/diamond3.png" alt="Diamond Icon" />
            <img src="/static/images/diamond3.png" alt="Diamond Icon" />
        </div>
    </section>

    <!-- Нові колекції -->
    <section class="collections-section">
        <h2 class="section-title">✦ <span>Нові колекції</span> ✦</h2>
        <div class="slider-wrapper">
            <button class="slider-btn left">&#10094;</button>
            <div class="slider-container">
                <img src="/static/images/collection1.png" alt="Collection 1" />
                <img src="/static/images/collection2.png" alt="Collection 2" />
                <img src="/static/images/collection3.JPG" alt="Collection 3" />
                <img src="/static/images/collection4.JPG" alt="Collection 4" />
                <img src="/static/images/collection5.JPG" alt="Collection 5" />
                <img src="/static/images/collection6.JPG" alt="Collection 6" />
                <img src="/static/images/collection7.JPG" alt="Collection 7" />
                <img src="/static/images/collection8.JPG" alt="Collection 8" />
                <img src="/static/images/collection9.JPG" alt="Collection 9" />
                <img src="/static/images/collection10.JPG" alt="Collection 10" />
                <img src="/static/images/collection11.JPG" alt="Collection 11" />
                <img src="/static/images/collection12.JPG" alt="Collection 12" />
                <img src="/static/images/collection13.JPG" alt="Collection 13" />
                <img src="/static/images/collection14.JPG" alt="Collection 14" />
                <img src="/static/images/collection15.JPG" alt="Collection 15" />
            </div>
            <button class="slider-btn right">&#10095;</button>
        </div>
    </section>

    <!-- Новинки -->
    <section class="new-products-section" id="new-products">
        <div class="overlay"></div>
        <h2 class="new-section-title">НОВИНКИ</h2>
        <div class="products-grid">
            <!-- Карточка 1 -->
            <div class="product-card">
                <img src="/static/images/nova1.png" alt="Product 1" />
                <button class="heart-btn"><i class="fa-regular fa-heart"></i></button>
                <div class="product-info">
                    <h3>Срібний браслет "Благословення небес"</h3>
                    <p class="price">Ціна: <span>2769 грн.</span></p>
                    <a href="/cart">
                        <button class="buy-btn" data-id="1" data-name="Срібний браслет 'Благословення небес'"
                            data-price="2769" data-image="/static/images/nova1.png">
                            Купити <img src="/static/images/buy.png" alt="Icon" />
                        </button>
                    </a>
                    <!-- <button class="buy-btn">Купити <img src="/static/images/buy.png" alt="Icon" /></button> -->
                </div>
            </div>
            <!-- Карточка 2 -->
            <div class="product-card">
                <img src="/static/images/nova3.png" alt="Product 2" />
                <button class="heart-btn"><i class="fa-regular fa-heart"></i></button>
                <div class="product-info">
                    <h3>Срібний браслет "Цвітіння сакури"</h3>
                    <p class="price">Ціна: <span>4092 грн.</span></p>
                    <a href="/cart">
                        <button class="buy-btn" data-id="2" data-name="Срібний браслет 'Цвітіння сакури'"
                            data-price="4092" data-image="/static/images/nova3.png">
                            Купити <img src="/static/images/buy.png" alt="Icon" />
                        </button>
                    </a>
                    <!-- <button class="buy-btn">Купити <img src="static/images/buy.png" alt="Icon" /></button> -->
                </div>
            </div>

            <!-- Карточка 3 -->
            <div class="product-card">
                <img src="/static/images/nova2.png" alt="Product 3" />
                <button class="heart-btn"><i class="fa-regular fa-heart"></i></button>
                <div class="product-info">
                    <h3>Срібна каблучка "Благословення небес"</h3>
                    <p class="price">Ціна: <span>1860 грн.</span></p>
                    <a href="/cart">
                        <button class="buy-btn" data-id="3" data-name="Срібна каблучка 'Благословення небес'"
                            data-price="1860" data-image="/static/images/nova2.png">
                            Купити <img src="/static/images/buy.png" alt="Icon" />
                        </button>
                    </a>
                    <!-- <button class="buy-btn">Купити <img src="static/images/buy.png" alt="Icon" /></button> -->
                </div>
            </div>

            <!-- Карточка 4 -->
            <div class="product-card">
                <img src="/static/images/nova4.png" alt="Product 4" />
                <button class="heart-btn"><i class="fa-regular fa-heart"></i></button>
                <div class="product-info">
                    <h3>Срібні асиметричні сережки "Крила метелика"</h3>
                    <p class="price">Ціна: <span>3596 грн.</span></p>
                    <a href="/cart">
                        <button class="buy-btn" data-id="4" data-name="Срібні асиметричні сережки 'Крила метелика'"
                            data-price="3596" data-image="/static/images/nova4.png">
                            Купити <img src="/static/images/buy.png" alt="Icon" />
                        </button>
                    </a>
                    <!-- <button class="buy-btn">Купити <img src="static/images/buy.png" alt="Icon" /></button> -->
                </div>
            </div>
        </div>
        <button class="see-all-btn">Усі новинки</button>
    </section>

    <!-- Популярні позиції -->
    <section class="popular-section">
        <h2 class="popular-title">Популярні позиції</h2>
        <div class="popular-grid">
            <!-- Карточка 1 -->
            <div class="popular-card">
                <button class="heart-btn"><i class="fa-regular fa-heart"></i></button>
                <div class="image-stack">
                    <img src="/static/images/popular1.png" alt="Popular 1" class="main-img" />
                    <img src="/static/images/popular2.png" alt="Popular 1 earrings" class="overlay-img" />
                </div>
                <div class="price-box">
                    <p>Ціна: <strong>8268 грн.</strong></p>
                </div>
            </div>

            <!-- Карточка 2 -->
            <div class="popular-card">
                <button class="heart-btn"><i class="fa-regular fa-heart"></i></button>
                <div class="image-stack">
                    <img src="/static/images/popular3.png" alt="Popular 2" class="main-img" />
                    <img src="/static/images/popular4.png" alt="Popular 2 ring" class="overlay-img" />
                </div>
                <div class="price-box">
                    <p>Ціна: <strong>9095 грн.</strong></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Про нас -->
    <section class="about-section" id="about">
        <div class="overlay"></div>
        <div class="about-content">
            <p class="about-intro">
                Imperial Grace – це світ вишуканих прикрас, де елегантність зустрічається із витонченим дизайном.<br>
                Ми створюємо ювелірні вироби, натхненні природою, традиціями та мистецтвом, щоб підкреслити вашу
                індивідуальність та стиль.
            </p>

            <ul class="about-list">
                <li><img src="/static/images/diamond4.png" alt="Diamond" />Чому вибирають наш магазин?</li>
                <li>✔️ Авторський дизайн та увага до деталей</li>
                <li>✔️ Якісні матеріали та ручна робота</li>
                <li>✔️ Вишукана упаковка – ідеально для подарунка</li>
                <li>✔️ Доставка по всій Україні</li>
            </ul>

            <p class="about-footer">
                Imperial Grace – прикраси, створені для тих, хто цінує красу, грацію та стиль!
            </p>
        </div>
    </section>

    <!-- Футер -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-left">
                <h2 class="footer-logo">Imperial Grace</h2>
                <p class="phone">0 800 87 59 23</p>
                <p class="schedule">Безкоштовно по Україні з усіх телефонів</p>
                <p>Пн-Пт 09:00 – 20:00<br>Сб-Нд 10:00 – 19:00</p>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-telegram"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>


            <div class="footer-right">
                <h3>Інформація</h3>
                <img src="/static/images/diamond1.png" alt="Icon" class="footer-icon" />
                <div class="footer-links">
                    <ul>
                        <li><a href="#">Акції</a></li>
                        <li><a href="#">Оплата та доставка</a></li>
                        <li><a href="#">Новини</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Колекції</a></li>
                        <li><a href="#">Обмін та повернення</a></li>
                        <li><a href="#">Контакти</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="/static/scripts/script.js"></script>
    <script src="/static/scripts/search.js"></script>
</body>

</html>